@use '../variables' as v;
@use '../mixins' as m;


.about{


    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 5rem;

        @include m.breakpoint-up(large){
            grid-template-columns: 2fr 1fr;
        }
    }



    &__info{

        p{
            text-align: justify;
            line-height: 1.7
        }

    }


    &__image{
        margin-bottom: 3rem;
        overflow: hidden;

        figure{

            img{
                transition: all 350ms ease-in-out;
                &:hover{
                    transform: scale(1.01);
                }
            }
        }
    }

    &__sidebar{

        p{
            font-size: 1rem;
            line-height: 1.7;
        }

        &-widget{
            padding-bottom: 2.5rem;
            margin-bottom: 3rem;
            border-bottom: 4px solid v.$darkGray;
        }


        .newsletter{

            input{
                width: calc(100% - 1.25rem);
                display: block;
                margin-inline: auto;
                padding: 0.8em;
                color: v.$darkGray;
            }


            a{
                color: v.$darkBlue;
                transition: all 250ms ease-in-out;

                &:hover{
                    color: v.$orange;
                }
            }

            button{
                width: calc(100% - 1.25rem);
                display: block;
                border: none;
                border-radius: 5px;
                background-color: v.$orange;
                color: v.$white;
                margin-inline: auto;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 1em;
                cursor: pointer;

                &:hover{
                    opacity: 0.9;
                }
            }
        }


        .project__grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        .social{

            a{
                text-decoration: none;
                color: v.$darkGray;
                margin-inline-end: 0.5rem;
                transition: all 250ms ease-in-out;

                &:hover{
                    color: v.$orange;
                }
            }
        }

    }

}