@use '../variables' as v;

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}


body{
    font-family: 'Montserrat', sans-serif;
    color: v.$darkGray;

    &.hide-scroll{
        transition: overflow-y 150ms ease-in-out;
        overflow-y: hidden;
    }
}

h1, h2{
    font-weight: 600;
}

h1{
    font-size: v.$font-xl;
    line-height: 1.1;
    margin-bottom: 1.69rem;
}

h2 {
    font-size: v.$font-lg;
    margin-bottom: 1.75rem;
}

h3 {
    font-size: v.$font-md;
    margin-bottom: 1.75rem;
    font-weight: 600;
}

p{
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

strong{
    font-weight: 600;
}

ul, ol, blockquote{
    margin-bottom: 2rem;
    font-weight: 500;
}

blockquote, ol li, p, ul li{
    font-size: 1.15rem;
    line-height: 1.7;
}

ol li, ul li {
    margin-left: 3.5rem;
}

input, button{
    font-family: 'Montserrat', sans-serif;
}

img{
    margin: 0;
}

button{
    border: none;
    cursor: pointer;
}


