// Colors

// Primary Colors
$orange: hsl(19, 99%, 65%);
$darkBlue: hsl(231, 36%, 21%);
$brightdarkBlue:hsl(245, 100%, 13%);

// Neutral Colors
$darkGray: hsl(0, 0%, 20%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Others
$darkOpacity: hsla(0, 0%, 0%, 0.4);
$buyMeACoffee: hsl(52, 100%, 50%);
$mtnDarkGreen: hsl(198, 100%, 22%);
$mtnYellow: hsl(50, 100%, 45%);
